@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,500&display=swap');

:root {
    --c-brand: #fac562;
    --c-bluish: #ADD8E6;
    --c-dark: #333;
    --c-purple: #D8BFD8;
    --c-light: #f8f8f8;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;
}

*,*::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    width: 90%;
    margin: auto;
}

h1 {
    color: var(--c-brand);
    text-align: center;
    margin: 20px 0;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    margin-bottom: 30px;
}

.product-item {
    background-color: var(--c-light);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(25% - 20px); /* Four columns */
    box-sizing: border-box;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.product-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-item p {
    font-size: 0.9em;
    color: #666;
    padding: 10px 0;
}

.product-item button {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.product-item button {
    bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.product-item button:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 768px) {
    .product-item {
        width: calc(100% - 20px); /* Two columns */
    }

    .product-grid {
        gap: 20px;
    }
}


